<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sarahn.waterreminderapp" >

    <uses-permission android:name="ANDROID.PERMISSION.RECEIVE_BOOT_COMPLETED"></uses-permission>

    <application
        android:name=".classes.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity
            android:name=".ActCalculate"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".ActLauncher"
            android:label="@string/title_activity_act_launcher"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ActViewPager"
            android:label="@string/title_activity_act_view_pager"
            android:theme="@style/FullScreen" >
        </activity>
        <activity android:name=".activities.ActTimeSpanChooser" >


        </activity>

        <receiver android:name=".classes.ClsBroadCastReciver" />
        <receiver android:name=".classes.ClsEndBroadcastReciever" />

        <activity
            android:name=".activities.MainScreen"
            android:label="@string/title_activity_act_main_screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <service android:name=".classes.ClsJobService"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <service android:name=".classes.ConsumedService"></service>

    </application>
</manifest>
